---
layout: splash
---

<h1 id="jingwei-li-李经纬">Jingwei Li (李经纬)</h1>
<p>Associate Professor, School of Computer Science and Engineering, UESTC<br />
Address: &ensp; Room D312, Building of Innovation Center, Qingshuihe Campus, UESTC<br />
&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;  
No. 2006, Xiyuan Ave, West Hi-Tech Zone, Chengdu, Sichuan, P.R. China<br />
Email:  &ensp;&ensp;&ensp;
jwli at uestc.edu.cn or lijw1987 at gmail.com</p>

<hr />

<p>
Jingwei Li is an associate professor of the <a href="http://www.ccse.uestc.edu.cn/">School of Computer Science and Engineering</a> at the <a href="http://www.uestc.edu.cn/">University of Electronic Science and Technology of China (UESTC)</a>. He joined UESTC in 2016. Before that, He was a postdoctoral researcher working with Professor <a href="http://www.cse.cuhk.edu.hk/~pclee/www/index.html">Patrick P. C. Lee</a> at the Chinese University of Hong Kong. During 2013 to 2014, he was a visiting scholar working with Prof. <a href="http://asquicciarini.ist.psu.edu/">Anna Squicciarini</a> at the Pennsylvania State University. He obtained the B.S. from Hebei University of Technology in 2009 and the Ph.D. from Nankai University in 2014, respectively.
</p>

<hr />

<p>
My research interest is to apply cryptographic technologies to build secure systems for large-scale data processing.  My current focus is <b>secure deduplication</b>, which aims to:

<ul>
   <li>
		Build new secure deduplication systems that extend the state-of-the-art designs with practical functionalities, such as dynamic access control, fault tolerance, etc.
   </li>
   <li>
		Analyze the practical implications of the fundamental results explored by the theoretical research, and provide new insights into the practical usage of secure deduplication.
   </li>
</ul>
In UESTC, I organize a <b>reading group</b> (for both graduate and undergraduate students) to present the
papers in top system/security conferences. Checkout the <a href="https://github.com/jingwei87/reading">github repository</a> for our past programs.   
</p>

<hr />

<p>
I am also a master supervisor in computer science in UESTC. I prefer a small-size research group, such that I can spend more time on my students. We work together closely to explore interesting research
problems. You can checkout our annual summary present in <a
  href="https://1drv.ms/b/s!Ag5HtH0OZTFMlk7e9mjW4gYVFS7P?e=swUfVf">2020</a>. 

For students, I want you to be <b>passionate</b> in learning and researching. Since our group
focuses on the practical aspect, you also need to have a strong background in <b>programming</b>.
You can checkout the <a href="/software/">systems</a> that we have built to understand the necessary programming levels. If
you think you are qualified, please send me email for further discussion.  
</p>
